/* App.css */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    background-color: #485785;
    color: #D9E3F1;
    height: 60px;
  }
  
  .navbar-logo {
    font-size: 24px;
  }
  
  .navbar-links {
    display: flex;
    gap: 20px;
  }
  
  .navbar-links a {
    color: #D9E3F1;
    text-decoration: none;
  }
  
  .navbar-toggle {
    display: none;
    flex-direction: column;
    cursor: pointer;
  }
  
  .navbar-toggle .bar {
    height: 3px;
    width: 25px;
    background-color: #D9E3F1;
    margin: 4px 0;
  }
  
  /* Responsive Styles */
  @media (max-width: 768px) {
    .navbar-links {
      display: none;
      flex-direction: column;
      width: 100%;
      background-color:#485785;
      position: absolute;
      top: 60px;
      left: 0;
    }
  
    .navbar-links.open {
      display: flex;
    }
  
    .navbar-toggle {
      display: flex;
    }
  }

/*   /* Footer Styles */
  .footer {
    background-color: #485785;
    color:  #D9E3F1;
    padding: 20px 0;
    text-align: center;
  }
  
  .footer-content {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
  }
  
  .footer-links {
    margin-top: 10px;
  }
  
  .footer-links a {
    color:  #D9E3F1;
    text-decoration: none;
    margin: 0 10px;
  }
  
  .footer-links a:hover {
    text-decoration: underline;
  }

 



  /* App.css */
html, body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
  }
  
  .row {
    margin-right: 0;
    margin-left: 0;
  }
  
  .col {
    padding-right: 0;
    padding-left: 0;
  }
  
  
  